################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages/GoogleAuthenticator.1.2.1
/GoogleAuthenticator/obj/Debug
/GoogleAuthenticator/bin/Debug
/.vs/
*.user
